:root{
    --corFundo:  rgb(228, 226, 222);
    --corHeader:  rgb(199, 203, 200);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

html{
    background-color:var(--corFundo);   
}

h1{
    color: rgb(51, 95, 80);
    text-align: center;
    background-color:var(--corHeader);
    font-size: 50px;
    font-style: oblique; 
    width: 100%;
    height: 90px;
    margin-top: 0%;
    box-shadow: 10px 10px 40px rgb(0,0,0,0.3);
}

nav{
    display: flex;
    align-items:center;
    justify-content:flex-end;
    padding-right: 30px;
}

nav a{
    margin-left: 25px;
}
nav a:not(id){
    color:#000;
}
input,select,textarea{
    box-sizing:400px ;
}

.MenuLateral{
    width: 100%;
    height:500px;
    background-color:var(--corFundo);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start ;
}

.item{
    background-color:var(--corHeader);
    color: #000;
    font-size: 15px;
    width: 150px;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

#Nome{
    width: 400px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    background-color: transparent;
    color: #000;
    border-radius: 9px;  
}

#Email{
    width: 400px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    background-color: transparent;
    color:#000; 
    border-radius: 9px;   
}

#senha{
    width: 400px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    background-color: transparent;
    color:#000;
    border-radius: 9px;  
}

#login{
    text-align: center;
    text-decoration-color: #000;
}
#botao{
    width: 100%;
    text-align: center;
    background-color:var(--corHeader);
    color: #000;
    border-style: outset;
    border-color: rgb(72, 74, 75);
    border-radius: 9px;
    padding: 3px;
    font: bolder 15px arial;
    cursor: pointer;
    outline: 0;
}

.modal{
    position: fixed;
    top:220px;
    right:450px;
    left: 450px;
    bottom: 300px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(254, 251, 251, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target{
    opacity: 1;
    pointer-events: auto;
}

.modal>div{
    margin: 20px;
    text-align: center;
    width: 400px;
    position: relative;
    margin: 50% auto;
    padding: 90px 20px;
    background: #f8f4f4;
}

.fechar{
    position: absolute;
    width: 25px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 25px;
    margin-top: 5px;
    background:var(--corHeader);
    border-radius: 50%;
    font-size: 16px;
    color:#000;
}

.Caracteristicas{
    position: fixed;
    top:150px;
    right:100px;
    left: 10px;
    bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(254, 251, 251, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
        
.Caracteristicas:target{
    opacity: 1;
    pointer-events: auto;
}

.Caracteristicas>div{
    text-align:left;
    width: 400px;
    position: relative;
    margin: 50% auto;
    padding: 90px 20px;
    background: #f8f4f4;
    margin: 10px;
}

#CGI{
    width: 500px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    background-color: transparent;
    color:#000;
    border-radius: 9px;  
}

footer{
    text-align: center;
    font-size: small;
    font-family: Times;
    bottom: 0;
    position: fixed;
    width: 90%;
    color: #000;
}
