{% extends  'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}
<div id="login" class="Caracteristicas">

      <div class=" container header-login">
        <div class="row">
          <img src="/static/img/bestcare-logo.png" alt="Logo"  id="img_best3">
          <img src="/static/img/bestcare.png" alt="Logo" id="best3"> 
          <a href="/" title="Fechar"class="fechar">x</a>
        </div>
      </div>
      <form method="post" class="formulario">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" href="#telainicial">
        <table>
          {{ form.as_table}}
        </table>       
      <a class= login2 href="./app1/base_telainicial"><button>Entrar</button></a>
      <p class="criar_conta">Ainda não tem uma conta? <a href="{% url 'cadastro' %}"> Criar conta</a></p>
      </form>
</div>

<div class="container" style="opacity:0.4;">
  <div class="row">
      <div class="col text-dark font-italic bg-transparent" style="margin-top: 5%;">
          <h2 class=" display-5 p-lg-4">Pontualidade</h2>
          <h2 class=" display-5 p-lg-4">Compromisso</h2>
          <h2 class=" display-5 p-lg-4">Transparência</h2>
          <h2 class=" display-5 p-lg-4">Comunicação em tempo real</h2>
      </div>
      <div class= "col" style="margin-top: 5%;">
      <img src="/static/img/imagem1.jpg" alt="Imagem Apresentação" id="imagemApresentacao" class="img-thumbnail">
      <figcaption class="figure-caption">Sempre ao seu lado.</figcaption>
      </div>
  </div>
</div>
{% endblock %}