:root{
    --cor-fundo:linear-gradient(90deg, rgba(116,189,203,0.4) 0%, rgba(123, 92, 55, 0.4) 100%, rgba(0,212,255,0.4) 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(116,189,203);
    background: var(--cor-fundo);
}

header{
    width: 100%;
    padding: 2%;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.08);
    align-items:flex-start;
    transition: 0.2s ease-in-out;

    display: flex;
    flex-direction: row;
}

.header-right{
    display:flex;
    flex-direction: row;
    margin-left: 5.8%;   
}

h1{
    width: 70px;
    font-weight: 400;
    font-size: 3em;
    color: grey;
    margin-left: -0.2%;  
}

h1:hover{
    color: rgb(63, 157, 175);
}
header img{ 
    width: 70px;
    height: 50px;
}

header img:hover{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px 3px rgb(186, 202, 201);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-left: 50%;
    margin-top: 1.2%;
    padding-left: 2.5em;  
}

.nos a{
    color:grey;
    font-size:20px;
    font-weight: 500;
    font-family:system-ui, -apple-system, sans-serif;
    cursor: pointer;
    text-decoration: none;
    padding-right: 2.5em;
}

.nos a:hover{
    color:#000
}

 nav a .entrar {
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:17px;
    font-weight: 500;
    padding:10px 21px;
    border-radius: 7px;
    background-color:inherit;
    border: gray solid 1px;
    text-decoration:none;
    color:grey;
}
nav a .entrar:hover{
    color: #000;
}
 
.entrar:hover{
    box-shadow: 0px 0px 4px 3px rgb(166, 162, 162);
}
/*termina o header*/

/*Começa a janela do login*/

main .Caracteristicas{
    margin-left: 33%;
    margin-right: 33%;
}

.Caracteristicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Caracteristicas{
    position: fixed;
    width: 450px;
    height: 450px;
    padding: 10px;
    top:25%;
    font-family: Helvetica, sans-serif;
    background-color:#FFFFFF;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    transition: 0.3 ease-in-out;
    border-radius: 10px;
    border: grey solid 1px;
}
       
.Caracteristicas:target{
    
    opacity: 1;
    pointer-events: auto;
}

.fechar{
    position: absolute;
    width: 15px;
    right: 13px;
    top: 10px;
    text-align: center;
    line-height: 25px;
    background:#FFFFFF;
    color:#000;
    text-decoration: none; 
}
.fechar:hover{
    color: red;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    background:var(--cor-fundo) ;
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 350px;
    height: 40px;
    padding: 5px;
    margin: 2%;
}
.login2 button{
    background:var(--cor-fundo);
    opacity: 1;
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    padding: 5px;
    margin: 2%;
    cursor: pointer;
}

.login2 button{   
    text-decoration: none;
    list-style-type: none;
    color: #000;
}
.login2 button:hover{
    color:rgba(14, 94, 200,1);
}

::placeholder{
    text-align:start;
    color: #000;
}

div a{
    color:rgb(76, 75, 75);
    cursor: pointer;
    text-decoration: none;
    margin-left: 8px;
    font-weight: 900;
    font-size: 17px;
}

div a:hover{
    color: rgba(14, 94, 200,1);
}
div p{
    text-align: center;
    margin-top: 40px;
}
/*Termina a janela do login */


.slogan{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 7rem;
}

.slogan p{
    margin-top: 3%;
    font-family:Verdana;
    font-size: 2em;
    font-weight: 500;
    color: rgb(14, 94, 200);
}

.entrar2{
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
    width: 29rem;
    height: 2.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background:var(--cor-fundo);
    color:rgb(14, 94, 200);
    text-decoration: none;  
}

.entrar2:hover{
    color: aliceblue;
}

.slogan button:hover{
    background-color: rgb(67, 107, 159);;
    border-radius: 1rem;
    box-shadow:0px 0px 4px 3px rgb(166, 162, 162) ;
}

.video{
    margin-left: 40%;
    margin-top:-32%;  
    padding: 225px  280px;
    background-color: aliceblue;
}
.slogan .video a{
    color:#000;
    font-weight: 300;
    font-size: 17px;
}

footer{
    text-align: center;
    font-size: small;
    font-family: Times;
    width: 100%;
    height: 9rem;
    margin-top: 15%;
    color: #000;
    background-color: grey;  
}
#names{
    padding: 2em;
}