*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(116,189,203,0.4) 0%, rgba(123, 92, 55, 0.4) 100%, rgba(0,212,255,0.4) 100%);
}

header{
    width: 100%;
    padding: 2%;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    transition: 0.2s ease-in-out;
}

header h1 {
    width: 70px;
    font-weight: 400;
    cursor: pointer;
    font-size: 3em;
 
}
.return-name{
    color: grey;
    text-decoration: none;
    margin-left: -1%;
}

.return-name:hover{
    color: rgb(63, 157, 175);
}

header img {
    width: 70px;
    height: 50px;
    cursor: pointer;
}

.return-img{
    margin-left: 5.8%; 
}

.return-img :hover{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px 3px rgb(186, 202, 201);
}

div{
    text-align: center;
    color: red;
    font-size: 2em;
    font-weight: 900;
}
