{% extends 'base_telainicial.html' %}

{% block content3 %}
	
	<div class="" >
		<div class="">
			<div class="row" id="agenda-search">
				<span class="agenda-residente">Residente: {{request.GET.search}}</span>
				<form method="GET" id="search-form">
					<input  class="btn btn-info" list="pessoas" name="search" id="search" placeholder="Selecione o residente">
					<datalist id="pessoas">
						{% for residente in residentes %}
							<option value="{{residente.pessoa_nome}}">
						{% endfor %}
					</datalist>
					<input type="submit" value="Buscar" class="btn btn-info">
				</form>
			</div>
		</div>
	</div>
	{% if request.GET.search.strip %}
	<div class="agenda-body ">
		<div class="clearfix">
			<a class="btn btn-info right" href="/agenda/?{{ next_month }}&search={{dono.pessoa_nome}}"> Próximo Mês </a>
			<a class="btn btn-info right" href="/agenda/?{{ prev_month }}&search={{dono.pessoa_nome}}"> Mês Anterior </a>
			<a class="btn btn-info left" href="/event/new/{{dono.id}}"> Novo Evento </a>
		</div>
		<div>
			<table>
				{{ calendar }}
			</table>
		</div>
	</div>
	{% elif not request.GET.search.strip %}
		<div>qqr coisa</div>
	{% endif %}

{% endblock content3 %}