{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Best Care/start/</title>
    <link rel="shortcut icon" href="/static/img/BestCareLogoBlack.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v2.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'CSS/index2.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/agenda.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/responsive.css' %}">
</head>

<body>
    <div class="container-fluid shadow-lg p-3" id="header">
        <div class="row">
            {% if user.is_authenticated %}
            <div class="header-logout">
                <div class="row" id="header-image">
                    <a href="/agenda" class="bg-transparent"><img src="/static/img/best_tec.png" alt="Logo" class="img "></a> 
                    
                </div>
                <div class="row" id="header-button">
                    <a href="/agenda" type="button" class="btn btn-outline-light btn-sm  mb-sm-5">Home</a>
                    <a href="/accounts/logout" type="button" class="btn btn-outline-light btn-sm  mb-sm-5 ml-2">Sair</a>
                </div>
            </div>
            {% else %}
            <div class="header-logout">
                <div class="row" id="header-image">
                    <a href="/"  class="bg-transparent"><img src="/static/img/best_tec.png" alt="Logo"  class="img"></a> 
                    
                </div>
                <div class="row">
                    <a href="/solucoes" type="button" class="btn btn-link text-header">Soluções</a>
                    <a href="/quemSomos" type="button" class="btn btn-link text-header">Quem Somos</a>
                </div>
                <div class="row" id="header-button">
                    <a href="/cadastro" type="button" class="btn btn-outline-light btn-sm  mb-sm-5">Cadastre-se</a>
                    <a href="/login" type="button" class="btn btn-outline-light btn-sm mb-sm-5 ml-2">Entrar</a>
                </div>
            </div>
            {% endif %}
        </div>  
    </div>
    {% block content %}
    {% endblock %}


    <div class="card-footer ">
        <div class="card-footer-names">
            <div>
                <p>Giovani Dalbosco</p>
                <p>
                    <a href="https://www.linkedin.com/in/giovanidalbosco/" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/giovanidalbosco" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-github"></i></a>
                    <a href="mailto:giovani.dalbosco@gmail.com?subject=BestCare" title="" class="bg-transparent"><i class="fa-brands fa-at"></i></a>
                </p>
            </div>
            <div>
                <p>Jackson Giovanni Castellain</p>
                <p>
                    <a href="https://www.linkedin.com/in/jacksongiovannicastellain/" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/JacksonCastellain" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-github"></i></a>
                    <a href="mailto:jgcastellain@gmail.com?subject=BestCare" title="" class="bg-transparent"><i class="fa-brands fa-at"></i></a>
                </p>
            </div>
            <div>
                <p>Lucas Rezende</p>
                <p>
                    <a href="" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/LucasRznde" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-github"></i></a>
                    <a href="mailto:lucasreboizao97@gmail.com?subject=BestCare" title="" class="bg-transparent"><i class="fa-brands fa-at"></i></a>
                </p>
            </div>
            <div>
                <p>Samir Buhatem</p>
                <p>
                    <a href="https://www.linkedin.com/in/samir-buhatem-8a1565112/" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/Sbuhatem" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-github"></i></a>
                    <a href="mailto:rcphdsamir@gmail.com?subject=BestCare" title="" class="bg-transparent"><i class="fa-brands fa-at"></i></a>
                </p>
            </div>
        </div>
        <div class="footer-foot">
            <div class="footer-buttons">
                <a href="/solucoes" type="button" class="btn btn-light"id="btn-quemsomos">Soluções</a>
                <a href="/quemSomos" type="button" class="btn btn-light" id="btn-quemsomos">Quem Somos</a>
            </div>
            <span class="text-white"> Projeto Entra 21 &reg;</span>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9c6f81d8af.js" crossorigin="anonymous"></script>
    <script src="/static/JS/script.js"></script>
    <script src="/static/JS/scriptCuidador.js"></script>
    <script src="/static/JS/scriptResidente.js"></script>
    <script src="/static/JS/scriptResponsavel.js"></script>
    
    
    {% block script%}

    {% endblock%}
</body>
</html>











