{% extends 'base.html' %}

{% block content %}


<div class=" container-fluid base_telainicial">
    <div  class="back" >
      <div class="col" id="base_inicial_solucoes">
        <a href= "/residentes_list" type="button" class="btn btn-light">Residentes</a>
        <a href= "/responsavel_list" type="button" class="btn btn-light">Responsável</a>
        <a href= "/cuidadores_list" type="button" class="btn btn-light">Cuidadores</a>
        <a href= "/ocorrencias_list" type="button" class="btn btn-light">Ocorrência</a>
        <a href= "/sinalvital_list" type="button" class="btn btn-light">Sinal Vital</a>
        <a href= "/comorbidades_list" type="button" class="btn btn-light">Comorbidades</a>
        <a href= "/uso_consumo_list" type="button" class="btn btn-light">Usos e consumo</a>
      </div>
    </div>
  <div class="content3">
      {% block content3 %}
      {% endblock content3 %}
  </div>
</div>

{% endblock %}