{% extends 'base.html' %}

{% block content %}


<div class=" container-fluid base_telainicial">
    <div class="back" >
      <div class="col" id="base_inicial_solucoes">
        <a href= "/residentes_list" type="button" class="btn btn-light border-0">Residentes</a>
        <a href= "/responsavel_list" type="button" class="btn btn-light border-0">Responsável</a>
        <a href= "/cuidadores_list" type="button" class="btn btn-light border-0">Cuidadores</a>
        <a href= "/ocorrencias_list" type="button" class="btn btn-light border-0">Ocorrências</a>
        <a href= "/sinalvital_list" type="button" class="btn btn-light border-0">Sinal Vital</a>
        <a href= "/comorbidades_list" type="button" class="btn btn-light border-0">Comorbidades</a>
        <a href= "/medicamentos_list" type="button" class="btn btn-light border-0">Medicamentos</a>
      </div>
    </div>
  <div class="content3">
      {% block content3 %}
      {% endblock content3 %}
  </div>
</div>

{% endblock %}