{% extends 'base.html' %}

{% block content %}

<div class="btn-cad-geral">
    <div class=" container cadastro-login">
        <div class="row">
          <img src="/static/img/bestcare-logo.png" alt="Logo"  id="img_best">
          <img src="/static/img/bestcare.png" alt="Logo" id="best2">
          <a href="/" title="Fechar"class="fechar">x</a>
        </div>
    </div>
    <h3 class="text-secondary text-center mt-5">Cadastro</h3>
    <form action="" method="POST" class="input-btn">    
        {% csrf_token %}  
        <table>
            {{ form.as_table}}
        </table>       
        <input class="input-cadastrar" type="submit" value="Cadastrar">
    </form>    
</div>

{% endblock %}