{% extends 'base.html' %}

{% block content %}

<div class="btn-cad-geral">
    <div class=" container cadastro-login">
        <div class="row">
          <img src="/static/img/bestcare-logo.png" alt="Logo"  id="img_best">
          <img src="/static/img/bestcare.png" alt="Logo" id="best2">
          <a href="/" title="Fechar"class="fechar">x</a>
        </div>
    </div>
    <h3 class="text-secondary text-center mt-5">Cadastro</h3>
    <form action="" method="POST" class="input-btn">    
        {% csrf_token %}  
        <table>
            {{ form.as_table}}
        </table>       
        <input class="input-cadastrar" type="submit" value="Cadastrar">
    </form>    
</div>

<div class="container" style="opacity:0.4;">
    <div class="row">
        <div class="col text-dark font-italic bg-transparent" style="margin-top: 5%;">
            <h2 class=" display-5 p-lg-4">Pontualidade</h2>
            <h2 class=" display-5 p-lg-4">Compromisso</h2>
            <h2 class=" display-5 p-lg-4">Transparência</h2>
            <h2 class=" display-5 p-lg-4">Comunicação em tempo real</h2>
        </div>
        <div class= "col" style="margin-top: 5%;">
        <img src="/static/img/imagem1.jpg" alt="Imagem Apresentação" id="imagemApresentacao" class="img-thumbnail">
        <figcaption class="figure-caption">Sempre ao seu lado.</figcaption>
        </div>
    </div>
</div>
{% endblock %}