{% extends 'base_telainicial.html' %}
{% load crispy_forms_tags %}

{% block title %}{{cuidadores.pessoa_nome}}{% endblock %}

{% block content3 %}

    {% if cuidadores.id != null %}
        <h1>Editar Cuidador '{{cuidadores.pessoa_nome}}'</h1>
    {% else %}
        <h1>Adicionar Cuidador</h1>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <table class="form form-table">
            {{ form.as_table}}
        </table>
        <input type="submit" class="btn btn-outline-info right" value="Salvar">
    </form>

{% endblock content3 %}