{% extends 'base_telainicial.html' %}

{% block title %}Adicione Cuidador{% endblock %}

{% block content3 %}
<div class="col-9  px-5">
    <div class=" align-middle table" id="dashboard-done"></div>
        <h1>Adicione Cuidador:</h1>
        <form action="" method="post">    
            {% csrf_token %}  
            <table class="prescricao_form" >
                {{ form.as_table}}
            </table>     
        <input class="btn btn-outline-secondary btn-sm mt-lg-5"  type="submit" value="Salvar">
        </form>
    </div>
</div>

{% endblock content3 %}