{% extends 'base_telainicial.html' %}

<!-- {% block title %}Estoque Individual{% endblock %} -->

{% block content3 %}
<div class="tamanho-div">
    <h2 class="text-dark m-lg-4 mt-4">Estoque Individual</h2>
    <div class="w-100" style="margin-top: 3%;">
        <div class="col-12 dashboard-box">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %}
                class="alert alert-{{messages.tags}}"{% endif %}
                >{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row d-inline-block">
                <div class="modal-header align-baseline">
                    {% if request.GET.search.strip %}
                    <a class="bg-transparent mr-5" id="add-link" href="/estoque_individual_add/{{dono.id}}">
                        <div>
                            <i class="fas fa-plus" style="font-size:0.875rem;"></i>
                            Adicionar Estoque Individual
                        </div>
                    </a>
                    {% endif %}
                    <div class="search-div bg-transparent">
                        <form method="GET" id="search-form">
                            <input list="pessoas" class="btn btn-outline-dark btn-sm" id="search" name="search" placeholder="Selecione o residente" value="{{ request.GET.search }}">
                            <datalist id="pessoas">
                                {% for residente in residentes %}
                                    <option value="{{residente.pessoa_nome}}">
                                {% endfor %}
                            </datalist>
                            <input class="btn btn-outline-dark btn-sm" type="submit" value="Buscar">
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="base-scrool"> 
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Item</th>
                        <th scope="col">Qtde</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in estoque_individual %}
                    <tr>
                        <td>
                            <div class="d-flex justify-content-start">
                                <a href="/estoque_individual_edit/{{i.id}}" class="delete-btn bg-transparent"><span><abbr title="EDITAR"><i 
                                class="fas fa-edit" style="cursor:default;"></i></abbr></span></a>
                                <a href="/estoque_individual_delete/{{i.id}}" class="delete-btn bg-transparent"><span><abbr title="EXCLUIR"><i
                                class="fas fa-trash" style="cursor:default;"></i></abbr></span></a>
                            </div>
                        </td>
                        <td>{{i.estoque_pessoa_nome.id}}</td>
                        <td>{{i.estoque_pessoa_nome.pessoa_nome}}</td>
                        {% for j in i.estoque_usos_consumo.all %}
                            <td>{{j.medicamento_nome}}</td>
                        {% endfor %}
                        <td>{{i.estoque_saldo}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- <div class="row">
                {%if request.GET.search != null %}
                <a id="add-link" href="/estoque_individual_add/{{dono.id}}">
                    <div class="add-div">
                        <i class="fas fa-plus"></i>
                        Adicionar Estoque Individual
                    </div>
                </a>
                {% endif %}
            </div> -->
        </div>
    </div>
</div>

{% endblock content3 %}