{% extends 'base_telainicial.html' %}

<!-- {% block title %}Estoque Individual{% endblock %} -->

{% block content3 %}
<div>
    <h3>Estoque Individual</h3>
    <div class="container dashboard" style="margin-top: 5%;">
        <div>
            <div>
                <h6>Selecione o residente</h6>
                <div class="search-div">
                    <form method="GET" id="search-form">
                        <input list="pessoas" name="search" id="search" value={{request.GET.search}}>
                        <datalist id="pessoas">
                            <option value=" ">
                            {% for item in pessoa_nome %}
                                <option value={{item.pessoa_nome}}>
                            {% endfor %}
                        </datalist>
                        <input type="submit">
                        <i class="fas fa-search" id="search-btn"></i>
                    </form>
                </div>
            
                <div class="row" style="margin-top: 5%;">
                    <div class="col">
                        <span
                        text-left>ID</span>
                    </div>
                    <div class="col">
                        <span>Nome</span>
                    </div>
                    <div class="col">
                        <span>Item</span>
                    </div>
                    <div class="col">
                        <span>Qtde</span>
                    </div>
                    <div class="col">
                        <span><i class="fas fa-edit bg-transparent text-dark"></i></span>
                        <span><i class="fas fa-trash bg-transparent text-dark"></i></span>
                    </div>
                </div>
                {% for i in estoque_individual %}
                <div  class="border border-dark row">
                    <div class="col">
                        <span>{{i.id}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.estoque_pessoa_nome.pessoa_nome}}</span>
                    </div>
                    {% for j in i.estoque_usos_consumo.all %}
                        <div class="col">
                            <span>{{j.consumo_nome}}</span>
                        </div>
                    {% endfor %}
                    <div class="col">
                        <span>{{i.estoque_saldo}}</span>
                    </div>
                    <div class="col">
                        <a href="" class="delete-btn bg-transparent"><span><i class="fas fa-edit"></i></span></a>
                        <a href="" class="delete-btn bg-transparent"><span><i class="fas fa-trash"></i></span></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {%if request.GET.search != null %}
                <a id="add-link" href="/estoque_individual_add/{{request.GET.search}}">
                    <div class="add-div">
                        <i class="fas fa-plus"></i>
                        Adicionar Estoque Individual
                    </div>
                </a>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>


{% endblock content3 %}