{% extends 'base_telainicial.html' %}

{% block title %}Estoque Individual{% endblock %}

{% block content3 %}
<div class=" col-6 px-5">
    <div class=" align-middle table" id="dashboard-done">
        <h1>Adicione Estoque Individual:</h1>
        <form action="" method="post" class="col-lg-3 form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <a class="bg-transparent mx-lg-5" id="add-link" href="/uso_consumo_add">
                <div class="add-div">
                    <i class="fas fa-plus btn"></i>
                    Adicionar Uso e consumo
                </div>
            </a>
            <input class="btn btn-outline-secondary btn-sm mt-lg-5" type="submit" value="Salvar">
        </form>
    </div>
</div>
{% endblock content3 %}