
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-dark font-italic bg-transparent" style="margin-top: 5%;">
            <h2 class=" display-5 p-lg-4">Pontualidade</h2>
            <h2 class=" display-5 p-lg-4">Compromisso</h2>
            <h2 class=" display-5 p-lg-4">Transparência</h2>
            <h2 class=" display-5 p-lg-4">Comunicação em tempo real</h2>
        </div>
        <div class= "col" style="margin-top: 5%;">
        <img src="/static/img/imagem1.jpg" alt="Imagem Apresentação" id="imagemApresentacao" class="img-thumbnail">
        <figcaption class="figure-caption">Sempre ao seu lado.</figcaption>
        </div>
    </div>
</div>
{% endblock content %}




<!--#Adriano Machado11:40
1. instalar heorku client
2. fazer heroku login
3. criar anova brach release-1??
alterar algo
heroku remote -a entra21-bestcare
git push heroku release-1.??:main
git push origin release-1.??:main
Adriano Machado11:41
- create new branch:

git checktou -b release-1.??-->