{% extends "base.html" %}

{% block content %}
<div>
    <div id="login" class="Caracteristicas">
        <div>
            <div class="row">
                <img src="/static/img/bestcare-logo.png" alt="Logo"  id="img_best">
                <img src="/static/img/bestcare.png" alt="Logo" id="best2">
                <a href="/" title="Fechar"class="fechar">x</a>
            </div>
        </div>
        <h3 class="text-center">{{titulo}}</h3>
        <form class="form form-table"  method="POST">
            {% if mensagem is not None %}
                <div class="alert alert-{{ mensagem.type }}">{{ mensagem.text }}</div>
            {% endif %}
            {% csrf_token %}
            {{ form.as_table }}
            <div class="btn-entrar">
                <a href="{{link_href}}" >{{link_text}}</a>
                <button type="submit" class="btn btn-primary btn-sm">{{button_text}}</button>
            </div>
        </form>   
    </div>
</div>
<div class="back-login-cad">
    <div class="row">
        <div  id="slogan"  class="col " style="margin-top: 5%;">
            <p class="ml-2  p-2">Pontualidade</p>
            <p class="ml-2  p-2">Compromisso</p>
            <p class="ml-2  p-2">Transparência</p>
            <p class="ml-2  p-2">Comunicação em tempo real</p>
        </div>
        <div class= "col" style="margin-top: 5%;">
            <img src="/static/img/imagem1.jpg" alt="Imagem Apresentação" id="imagemApresentacao" class="img-thumbnail">
            <figcaption class="figure-caption">Sempre ao seu lado.</figcaption>
        </div>
    </div>
</div>
{% endblock %}