{% extends 'index.html' %}

{% block title %}Ocorrencias{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1 class="text-secondary text-center">Ocorrencias</h1>
    <div class="container dashboard" style="margin-top: 5%;">
        <div class="col-6 dashboard-box" id="dashboard-done">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %}
                class="alert alert-{{messages.tags}}"{% endif %}
                >{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        
            <h4>Ocorrencias</h4>
            <form method="GET" id="search-form">
                <input class="form-control col-sm-6" type="text" id="search" name="search"
                placeholder="Digite o nome para buscar..." value="{{ request.GET.search }}">
                <input type="submit" value="Buscar" class="search btn btn-secondary btn-sm "></input>
            </form>
            <ul class="task-list">
                <div class="row" style="margin-top: 5%;">
                    <div class="col">
                        <span
                        text-left>ID</span>
                    </div>
                    <div class="col">
                        <span>Nome</span>
                    </div>
                    <div class="col">
                        <span><i class="fas fa-edit bg-transparent text-dark"></i></span>
                        <span><i class="fas fa-trash bg-transparent text-dark"></i></span>
                    </div>
                </div>
                {% for i in ocorrencias %}
                <div  class="border border-dark row">
                    <div class="col">
                        <span>{{i.id}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.ocorrencia_nome}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.ocorrencia_pessoa_nome}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.ocorrencia_pessoa_cuidador}}</span>
                    </div>
                    <div class="col">
                        <a href="/ocorrencias_edit/{{i.id}}" class="delete-btn bg-transparent"><span><i class="fas fa-edit"></i></span></a>
                        <a href="/ocorrencias_delete/{{i.id}}" class="delete-btn bg-transparent"><span><i class="fas fa-trash"></i></span></a>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <a id="add-link" href="ocorrencias_add">
                            <div class="add-div">
                                <i class="fas fa-plus"></i>
                                Adicionar Ocorrencia
                            </div>
                        </a>               
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
{% endblock %}