{% extends 'base_telainicial.html' %}
{% load crispy_forms_tags %}

{% block content3 %}

    {% if ocorrencia.id != null %}
        <h1>Editar Ocorrência '{{ocorrencia.get_ocorrencia_nome_display}}'</h1>
    {% else %}
        <h1>Adicionar Ocorrência</h1>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <table class="form form-table"></table>
            {{ form|crispy }}
            
        </table>
        <input type="submit" class="btn btn-outline-secondary right" value="Salvar">
    </form>
{% endblock content3 %}