{% extends 'index.html' %}

{% block content %}
<div class="quemsomos">
    <ul class="list-unstyled">
      <div class="row quemsomos00" id="first-quemsomos" >
        <div class=" row quemsomos1 ">
          <img class="" id="" src="/static/img/missa2.png" alt="Missão Imagem">
          <div class="media-body">
            <h5 class="mt-lg-5">Nossa Missão</h5>
            <aside>Proporcionar ao residente um tratamento pontual e aos seus familiares a tranquilidade deste tratamento.</aside>
          </div>
        </div>
        <div class=" row quemsomos1">
          <img class="" id="" src="/static/img/visao.png" alt="Visão Imagem">
          <div class="media-body">
            <h5 class="mt-lg-5">Visão</h5>
            <aside>Trazer ao mercado de Cuidados de Idosos a Transparência e dignidade de quem já fez muito por nós.</aside>
          </div>
        </div>
      </div>
      <div class="row quemsomos00">
        <div class=" row quemsomos2 ">
          <img class=" " id="" src="/static/img/quem-somos.png" alt="Quem Somos Imagem">
          <div class="media-body">
            <h5 class="mt-lg-5">Quem Somos</h5>
            <aside>Somos uma equipe criada junto ao programa Entra21 - edição 2022, com o objetivo de aprendizado da linguagem de Programação Python 
                usando Banco de Dados SQlite3 e MySQL, além do Framework Django.<br><br>Desafiados a desenvolvermos um Sistema WEB-APP,  buscamos
                encontrar no mercado uma solução para melhorar a comunicação entre as Casas de Repouso e os Familiares Responsáveis externos.
                <br><br>Nosso WEB-APP busca gerenciar o dia a dia do residente, com agenda em tempo real de todos os procedimentos a  serem cumpridos
                dentro dos protocolos exigidos pela sua equipe médica.<br><br>Vamos proporcionar aos responsáveis externos uma comunicação 
                transparente dos eventos ocorridos ao longo da estada do residente, com mensagens instantâneas e relatorios periódicos.
                <br><br>Registro de eventos ocasionais específicos, e geração de prontuário com vistas a proporcionar a equipe médica um amplo espectro
                de informações.<br><br>Best Care é mais que um sistema de gestão, é uma ferramenta de  busca da melhoria das condições  diária 
                com o monitoramento constante das atividades do residente. </aside>
          </div>
        </div>
      </div>

      <p class="text-center" id="desenvolvedores">Desenvolvedores</p>
      <div class="container-fluid" id="div-dev">
          <div class="row">
            <div class="imagens">
              <img src="/static/img/GiovaniPerfil.png" class="rounded  mx-autod-block" id="fotos" alt="Samir Buhatem">
                <p>Giovani Valle Dalbosco</p>
                  <p>
                    <a href="https://www.linkedin.com/in/giovanidalbosco/" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-linkedin" id="icon-quemsomos"></i></a>
                    <a href="https://github.com/giovanidalbosco" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-github" id="icon-quemsomos"></i></a>
                    <a href="mailto:giovani.dalbosco@gmail.com?subject=BestCare" title="" class="bg-transparent"><i class="fa-regular fa-at" id="icon-quemsomos"></i></a>
                  </p>
            </div>
            <div class="imagens">
              <img src="/static/img/JacksonPerfil.png" class="rounded  mx-autod-block" id="fotos" alt="Jackson Castellain">
                <p>Jackson Castellain</p>
                  <p>
                    <a href="https://www.linkedin.com/in/jacksongiovannicastellain/" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-linkedin" id="icon-quemsomos"></i></a>
                    <a href="https://github.com/JacksonCastellain" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-github" id="icon-quemsomos"></i></a>
                    <a href="mailto:jgcastellain@gmail.com?subject=BestCare" title="" class="bg-transparent"><i class="fa-regular fa-at" id="icon-quemsomos"></i></a>
                  </p>
            </div>
            <div class="imagens">
              <img src="/static/img/LucasPerfil.png" class="rounded mx-autod-block" id="fotos" alt="Lucas Rezende">
                <p>Lucas Rezende</p>
                  <p>
                    <a href="https://www.linkedin.com/in/lucasrezendev/" type="button" target="_blank" class="bg-transparent"><i class="fa-brands fa-linkedin" id="icon-quemsomos"></i></a>
                    <a href="https://github.com/LucasRznde" type="button" target="_blank" class="bg-transparent"><i class="fa-brands fa-github" id="icon-quemsomos"></i></a>
                    <a href="" title="" class="bg-transparent"><i class="fa-regular fa-at" id="icon-quemsomos"></i></a>
                  </p>
            </div>
            <div class="imagens">
              <img src="/static/img/SamirPerfil.png" class="rounded  mx-autod-block" id="fotos" alt="Samir Buhatem">
                <p>Samir Buhatem</p>
                  <p>
                    <a href="https://www.linkedin.com/in/samirbuhatem/" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-linkedin" id="icon-quemsomos"></i></a>
                    <a href="https://github.com/Sbuhatem" type="button" target="_blank"  class="bg-transparent"><i class="fa-brands fa-github" id="icon-quemsomos"></i></a>
                    <a href="mailto:rcphdsamir@gmail.com?subject=BestCare" title="" class="bg-transparent"><i class="fa-regular fa-at" id="icon-quemsomos"></i></a>
                  </p>
            </div>
          </div>
      </div>
    </ul>
</div>
{% endblock %}
