{% extends 'index.html' %}

{% block content %}
<body>
    <div class="offset-1 col-10 list-div">
        <h1 class="text-secondary text-center">Quem Somos</h1>
    </div>
    <ul class="list-unstyled">
        <li class="media">
          <img class=" align-self-start  mr-3" id="quemSomos" src="/static/img/missa2.png" alt="Missão Imagem">
          <div class="media-body">
            <h5 class="mt-0 mb-1 font-weight-bold">Nossa Missão</h5>
            <p>Proporcionar ao residente um tratamento pontual e aos seus familiares a tranquilidade deste tratamento.</p>
          </div>
        </li>
        <li class="media">
          <img class=" align-self-start  mr-3" id="quemSomos" src="/static/img/visao.png" alt="Visão Imagem">
          <div class="media-body">
            <h5 class="mt-0 mb-1 font-weight-bold">Visão</h5>
            <p>Trazer ao mercado de Cuidados de Idosos a Transparência e dignidade de quem já fez muito por nós.</p>
          </div>
        </li>
        <li class="media">
          <img class=" align-self-start  mr-3" id="quemSomos" src="/static/img/quem-somos.png" alt="Quem Somos Imagem">
          <div class="media-body">
            <h5 class="mt-0 mb-1 font-weight-bold">Quem Somos</h5>
            <p>Somos uma equipe criada junto ao programa Entra21 - edição 2022, com o objetivo de aprendizado da linguagem de Programação Python 
                usando Banco de Dados SQlite3 e MySQL, além do Framework Django.<br><br>Desafiados a desenvolvermos um Sistem WEB-APP, buscamos
                encontrar no mercado uma solução para melhorar a comunicação entre as Casas de Repouso e os Familiares/Responsáveis externos.
                <br><br>Nosso WEB-APP busca gerenciar o dia a dia do residente, com agenda em tempo real de todos os procedimentos a seremcumpridos
                dentro dos protocolos exigidos pela sua equipe médica.<br><br>Vamos proporcionar aos responsáveis externos uma comunicação 
                transparente dos eventos ocorridos ao longo da estada do residente, com mensagens instantâneas e relatorios periódicos.
                <br><br>Registro de eventos ocasionais específicos,e geração de prontuário com vistas a proporcionar a equip médica um amplo e
                de informações.<br><br>Best Care é mais que um sistema de gestão, é uma ferramenta de  busca da melhoria das condições diária 
                com o monitoramento constante das atividades do residente. </p>
          </div>
        </li>
    </ul>

    <div class="students">
        <h2>Desenvolvedores</h2>
        <ul>
            <li class="gio">
                <img src="">
                <a href="">Giovanni Dalbosco</a>
            </li>
            <li class="jack">
                <img src="">
                <a href="">Jackson Castellain</a>
            </li>
            <li class="luck">
                <img src="">
                <a href="">Lucas Resende</a>
            </li>
            <li class="mir">
                <img src="/static/img/FotoPerfil.jpg">
                <a href="https://twitter.com/sbuhatem">Samir Buhatem</a>
            </li>
        </ul>
    </div>
</body>

{% endblock %}