{% extends 'base.html' %}

{% block title %}Residentes{% endblock %}

{% block content %}
<div class="w-100 list-div">
    <h1 class="text-secondary text-center">Residentes</h1>
    <div class="container w-100" style="margin-top: 5%;">
        <div class="col-12 dashboard-box"     id="dashboard-done">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{messages.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row d-inline-block">
                <div class="modal-header">
                    <h4>Residentes</h4>
                    <a class="bg-transparent mx-lg-5"  id="add-link" href="residentes_add">
                        <div class="add-div">
                            <i class="fas fa-plus"></i>
                            Adicionar Residente
                        </div>
                    </a> 
                    <div class="search-div bg-transparent">
                        <form method="GET" id="search-form">
                            <input type="search" id="search" name="search"placeholder="Digite o nome para buscar..." value="{{ request.GET.search }}">
                            <input class="btn btn-outline-secondary btn-sm" type="submit">
                        </form>
                    </div> 
                </div>
            </div>             
            <ul class="task-list">
                <div class="row" style="margin-top: 5%;">
                    <div class="col">
                        <span
                        text-left><strong>Id</strong></span>
                    </div>
                    <div class="col">
                        <span><strong>Nome</strong></span>
                    </div>
                    <div class="col">
                        <span><strong>Endereço</strong></span>
                    </div>
                    <div class="col">
                        <span><strong> Número</strong></span>
                    </div>
                    <div class="col">
                        <span><strong>Complemento</strong> </span>
                    </div>
                    <div class="col">
                        <span><strong>Cidade</strong></span>
                    </div>
                    <div class="col">
                        <span><strong>Classe</strong></span>
                    </div>
                    <div class="col">
                        <span><strong>CPF</strong></span>
                    </div>
                    <div class="col">
                        <span><strong>Comorbidades</strong></span>
                    </div>
                    <div class="col">
                        <span><strong>Plano</strong></span>
                    </div>
                    <div class="col">
                        <span><i class="fas fa-edit bg-transparent text-dark"></i></span>
                        <span><i class="fas fa-trash bg-transparent text-dark "></i></span>
                    </div>
                </div>
                {% for i in residente %}
                <div  class="border border-dark row">
                    <div class="col">
                        <span>{{i.id}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_nome}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_endereco}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_numero}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_compl}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_cidade}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_classe}}</span>
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_CPF}}</span>
                    </div>
                    <div class="col">
                        {% for dados in pessoas_pessoa_comorbidade %}
                            <span>{{dados}}</span>
                        {% endfor %}  
                    </div>
                    <div class="col">
                        <span>{{i.pessoa_plano}}</span>
                    </div>
                    <div class="col">
                        <a href="/residentes_edit/{{i.id}}" class="delete-btn bg-transparent"><span><abbr title="EDITAR"><i class="fas fa-edit"></i></abbr></span></a>
                        <a href="/residentes_delete/{{i.id}}" class="delete-btn bg-transparent"><span><abbr title="EXCLUIR"><i class="fas fa-trash"></i></abbr></span></a>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}