{% extends 'base_telainicial.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}{{residente.pessoa_nome}}{% endblock %}

{% block content3 %}

{% if residente.id != null %}
        <h4>Editar Residente '{{residente.pessoa_nome}}'</h4>
    {% else %}
        <h4 class="d-flex justify-content-center py-4">Adicionar Residente</h4>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <table class="form form-table">
            {{ form.as_table}}   
        </table>
        <input type="submit" class="btn btn-outline-info mx-auto d-block" value="Salvar">
    </form>
<script src={% static '/JS/jquery-3.6.1.min.js' %}></script>
<script src={% static '/JS/jquery.mask.min.js' %}></script>
<script src={% static '/JS/mascara.js' %}></script>

{% endblock content3 %}