{% extends 'base_telainicial.html' %}
{% load crispy_forms_tags %}

{% block title %}{{residente.pessoa_nome}}{% endblock %}

{% block content3 %}

{% if residente.id != null %}
        <h1>Editar Residente '{{residente.pessoa_nome}}'</h1>
    {% else %}
        <h1>Adicionar Residente</h1>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-outline-secondary mt-5" value="Salvar">
    </form>

{% endblock content3 %}