{% extends 'base_telainicial.html' %}
{% load crispy_forms_tags %}

{% block title %}{{responsavel.pessoa_nome}}{% endblock %}

{% block content3 %}

    {% if responsavel.id != null %}
        <h4>Editar Responsável '{{responsavel.pessoa_nome}}'</h4>
    {% else %}
        <h4>Adicionar Responsável</h4>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <table class="form form-table">
            {{ form.as_table}}
        </table>
        <input type="submit" class="btn btn-outline-info mx-auto d-block" value="Salvar">
    </form>
{% endblock content3 %}