{% extends 'base_telainicial.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{responsavel.pessoa_nome}}{% endblock %}

{% block content3 %}

    {% if responsavel.id != null %}
        <h4>Editar Responsável '{{responsavel.pessoa_nome}}'</h4>
    {% else %}
        <h4 class="d-flex justify-content-center py-4">Adicionar Responsável</h4>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <table class="form form-table">
            {{ form.as_table}}
        </table>
        <input type="submit" class="btn btn-outline-info mx-auto d-block" value="Salvar">
    </form>

    {% block script%}
    <script src="{% static 'JS/jquery.mask.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            $('.mask-cpf').mask('000.000.000-00');
            $('.mask-cep').mask('00.000-000');

            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
                },
                spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                    }
                };

                $('.mask-telefone').mask(SPMaskBehavior, spOptions);
            });   
    </script>
    {% endblock%}

{% endblock content3 %}