{% extends 'base_telainicial.html' %}

{% block title %}Adicione Responsavel{% endblock %}

{% block content3 %}
<div class="col-9  px-5">
    <div class=" align-middle table" id="dashboard-done"></div>
        <h1>Adicione Responsavel:</h1>
        <form action="" method="post">    
            {% csrf_token %} 
            <table>
                {{ form.as_table}}
            </table>
                     
        <input class="btn btn-outline-secondary btn-sm mt-lg-5"  type="submit" value="Salvar">
        </form>
    </div>
</div>

{% endblock content3 %}