{% extends 'base_telainicial.html' %}

{% block title %}Responsavel{% endblock %}

{% block content3 %}
<div class="tamanho-div">
    <h1 class="text-secondary text-center mt-4">Responsável</h1>
    <div class="w-100" style="margin-top: 3%;">
        <div class="col-lg-12 dashboard-box">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{messages.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row-lg-12 d-inline-block">
                <div class="modal-header">
                    <h5>Responsável</h5>
                    <a class="bg-transparent mx-lg-5"  href="/responsavel_add">
                        <div class="adicionar">
                            <i class="fas fa-plus" style="font-size:0.875rem;"></i>
                            Adicionar Responsável
                        </div>
                    </a> 
                    <div class="search-div bg-transparent">
                        <form method="GET" id="search-form">
                            <input class="btn btn-outline-dark btn-sm" id="search" name="search" placeholder="Digite o nome para buscar..." value="{{ request.GET.search }}">
                            <input class="btn btn-outline-dark btn-sm" type="submit" value="Buscar">
                        </form>
                    </div> 
                </div>
            </div>
            <div class="base-scrool">              
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Número</th>
                        <th scope="col">Complemento</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Classe</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in responsavel %}
                      <tr>
                        <td>{{i.pessoa_nome}}</td>
                        <td>{{i.pessoa_endereco}}</td>
                        <td>{{i.pessoa_numero}}</td>
                        <td>{{i.pessoa_compl}}</td>
                        <td>{{i.pessoa_cidade}}</td>
                        <td>{{i.get_pessoa_classe_display}}</td>
                        <td>{{i.pessoa_CPF}}</td>
                        <td>{{i.pessoa_telefone}}</td>
                        <td>{{i.pessoa_email}}</td>
                        <td>
                            <div class="justify-content-end d-flex">
                                <a href="/responsavel_edit/{{i.id}}" class="delete-btn bg-transparent"><span><abbr title="EDITAR">
                                    <i class="fas fa-edit" style="cursor:pointer;"></i></abbr></span></a>
                                <a href="/responsavel_delete/{{i.id}}" class="delete-btn bg-transparent"><span><abbr title="EXCLUIR">
                                    <i class="fas fa-trash" style="cursor:pointer;"></i></abbr></span></a>
                            </div>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content3 %}