{% extends 'base_telainicial.html' %}

{% block title %}Sinal Vital{% endblock %}

{% block content3 %}
<div class="tamanho-div">
    <h2 class="text-dark m-lg-4 mt-4">Sinal Vital</h2>
    <div class="w-100" style="margin-top: 3%;">
        <div class="col-12 dashboard-box">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %}
                class="alert alert-{{messages.tags}}"{% endif %}
                >{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row d-inline-block">
                <div class="modal-header align-baseline">
                    <a class="bg-transparent mr-5" id="add-link" href="/sinalvital_add">
                        <div>
                            <i class="fas fa-plus" style="font-size:0.875rem;"></i>
                            Adicionar Sinal Vital
                        </div>
                    </a> 
                    <div class="search-div bg-transparent">
                        <form method="GET" id="search-form">
                            <input class="btn btn-outline-dark btn-sm" id="search" name="search"placeholder="Digite o nome para buscar..." value="{{ request.GET.search }}">
                            <input class="btn btn-outline-dark btn-sm" type="submit" value="Buscar">
                        </form>
                    </div>
                </div>
            </div>          
            <div class="base-scrool"> 
                <table class="table table-hover" id="tabsinalvital">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">DateTime</th>
                        <th scope="col">Residente</th>
                        <th scope="col">PAS</th>
                        <th scope="col">PAD</th>
                        <th scope="col">FC</th>
                        <th scope="col">FR</th>
                        <th scope="col">Temp (C)</th>
                        <th scope="col">Peso (kg)</th>
                        <th scope="col">Altura (Mt)</th>
                        <th scope="col">IMC</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in sinalvital %}
                    <tr>
                        <td>
                            <div class="d-flex justify-content-start">
                                <a href="/sinalvital_edit/{{i.id}}" class="delete-btn bg-transparent"><span><abbr title="EDITAR">
                                    <i class="fas fa-edit" style="cursor:default;"></i></abbr></span></a>
                                <a class="delete-btn bg-transparent js-delete" data-id="{{i.id}}"><span><abbr title="EXCLUIR">
                                    <i class="fas fa-trash" style="cursor:default;"></i></abbr></span></a>
                            </div>
                        </td>
                        <td>{{i.sinalVitalCreate}}</td>
                        <td>{{i.sinalVital_pessoa_nome}}</td>
                        <td>{{i.sinalVital_pas}}</td>
                        <td>{{i.sinalVital_pad}}</td>
                        <td>{{i.sinalVital_fc}}</td>
                        <td>{{i.sinalVital_fr}}</td>
                        <td>{{i.sinalVital_temp}}</td>
                        <td>{{i.sinalVital_peso}}</td>
                        <td>{{i.sinalVital_altura}}</td>
                        <td>{{i.sinalVital_IMC}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalsinalvital">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Sinal Vital?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Confirmar a exclusão do sinal vital?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnnao" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
            </div>
        </div>
    </div>
</div>


{% endblock content3 %}