{% extends 'base_telainicial.html' %}
{% load crispy_forms_tags %}

{% block content3 %}

    {% if sinalVital.id != null %}
        <h4>Editar Sinal Vital '{{sinalvital.get_sinalvital_pessoa_nome_display}}'</h4>
    {% else %}
        <h4>Adicionar Sinal Vital</h4>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <table class="form form-table">
            {{ form.as_table}}
        </table>
        <input type="submit" class="btn btn-outline-info right" value="Salvar">
    </form>

{% endblock content3 %}
