{% extends 'base_telainicial.html' %}
{% load crispy_forms_tags %}

{% block content3 %}

    {% if sinalVital.id != null %}
        <h4>Editar Sinal Vital '{{sinalvital.get_sinalVital_pessoa_nome_display}}'</h4>
    {% else %}
        <a class="btn btn-info left clearfix" href="/sinalvital_list"> Voltar </a>
        <h4 class="d-flex justify-content-center py-4">Adicionar Sinal Vital</h4>
    {% endif %}

    <form method="POST" oninput="sinalVital_IMC.value=sinalVital_peso.value/(sinalVital_altura.value*sinalVital_altura.value)">
        {% csrf_token %}
        <table class="form form-table">
            {{ form.as_table }}
            <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Salvar </button></td></tr>
        </table>
    </form>

{% endblock content3 %}
