{% extends 'base.html' %}

{% block content %}
<div>
    <div class="offset-1 col-10 list-div">
        <h1 class="text-secondary text-center">Soluções</h1>
    </div>

    <ul class="list-unstyled">
        <li class="media">
          <img class=" align-self-start  mr-3" src="/static/img/conversando2.png" alt="Pessoas conversando">
          <div class="media-body">
            <h5 class="mt-0 mb-1 font-weight-bold">Melhor relação entre cuidador e responsável externo.</h5>
          </div>
        </li>
        <li class="media">
          <img class="mr-3" src="/static/img/celular4.png" alt="Imagem de um celular">
          <div class="media-body">
            <h5 class="mt-0 mb-1 font-weight-bold">Mensagens de intercorrência instantâneas.</h5>
          </div>
        </li>
        <li class="media">
          <img class="mr-3" src="/static/img/www2.png" alt="Imagem símbolo da WWW">
          <div class="media-body">
            <h5 class="mt-0 mb-1 font-weight-bold">Acompanhamento do residente em tempo real.</h5>
          </div>
        </li>
        <li class="media">
            <img class="mr-3" src="/static/img/relatorio2.png" alt="Imagem de um gráfico.">
            <div class="media-body">
              <h5 class="mt-0 mb-1 font-weight-bold">Relatório mensal de eventos.</h5>
            </div>
        </li>
        <li class="media ">
            <img class="mr-3" src="/static/img/celular5.png" alt="Imagem de um celular">
            <div class="media-body">
              <h5 class="mt-0 mb-1 font-weight-bold">Lembretes instantâneos.</h5>
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="/static/img/medico2.png" alt="Imagem de médicos.">
            <div class="media-body">
              <h5 class="mt-0 mb-1 font-weight-bold">Gestão de responsabilidades das prescrições médicas.</h5>
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="/static/img/medicamentos2.png" alt="Imagem de medicamentos">
            <div class="media-body">
              <h5 class="mt-0 mb-1 font-weight-bold">Gestão do estoque de medicamentos e higiene.</h5>
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="/static/img/registroA.png" alt="Imagem de registro de saúde.">
            <div class="media-body">
              <h5 class="mt-0 mb-1 font-weight-bold">Registro de ocorrências anomalas.</h5>
            </div>
        </li>
      </ul>
</div>   
{% endblock %}