{% extends 'index.html' %}

{% block content %}
<div>
    <ul class="list offset-1">
        <div class="row solucoes00" id="first-solucoes">
          <div class=" row solucoes1 ">
            <img class="" src="/static/img/conversando2.png" alt="Pessoas conversando">
            <div class="media-body">
              <aside class="">Melhor relação entre cuidador e responsável externo.</aside>
            </div>
          </div>
          <div class=" row solucoes1">
            <img class="" src="/static/img/celular4.png" alt="Imagem de um celular">
            <div class="media-body">
              <aside class="">Mensagens de intercorrência instantâneas.</aside>
            </div>
          </div>
        </div>
        <div class="row solucoes00">
          <div class=" row solucoes1 ">
            <img class="" src="/static/img/www2.png" alt="Imagem símbolo da WWW">
            <div class="media-body">
              <aside class="">Acompanhamento do residente em tempo real.</aside>
            </div>
          </div>
          <div class=" row solucoes1">
            <img class="" src="/static/img/relatorio2.png" alt="Imagem de um gráfico.">
            <div class="media-body">
              <aside class="">Relatório mensal de eventos.</aside>
            </div>
          </div>
        </div>
        <div class="row solucoes00">
          <div class=" row solucoes1 ">
            <img class="" src="/static/img/celular5.png" alt="Imagem de um celular">
            <div class="media-body">
              <aside class="">Lembretes instantâneos.</aside>
            </div>
          </div>
          <div class=" row solucoes1">
            <img class="" src="/static/img/medico2.png" alt="Imagem de médicos.">
            <div class="media-body">
              <aside class="">Gestão de responsabilidades das prescrições médicas.</aside>
            </div>
          </div>
        </div>
        <div class="row solucoes00" id="last-solucoes">
          <div class=" row solucoes1 ">
            <img class="" src="/static/img/medicamentos2.png" alt="Imagem de medicamentos">
            <div class="media-body">
              <aside class="">Gestão do estoque de medicamentos e higiene.</aside>
            </div>
          </div>
          <div class=" row solucoes1">
            <img class="" src="/static/img/registroA.png" alt="Imagem de registro de saúde.">
            <div class="media-body">
              <aside class="">Registro de ocorrências anomalas.</aside>
            </div>
          </div>
        </div>
    </ul>
</div>   
{% endblock %}