{% extends 'index.html' %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Soluções</h1>
</div>
<section class="first">
        <div>
            <img src="/static/img/conversando2.png">
            <p id="conversando">Melhor relação entre cuidador e responsável externo.</p>
        </div>
        <div>
            <img src="/static/img/celular4.png">
            <p>Mensagens de intercorrência instantâneas.</p>
        </div>    
</section>
<section class="second">
    <div>
        <img src="/static/img/www2.png">
        <p>Acompanhamento do residente em tempo real.</p>
    </div>
    <div>
        <img src="/static/img/relatorio2.png">
        <p>Relatório mensal de eventos.</p>
    </div>
</section>
<section class="third">
    <div>
        <img src="/static/img/celular5.png">
        <p>Lembretes instantâneos.</p>
    </div>
    <div>
        <img src="/static/img/medico2.png">
        <p>Gestão de responsabilidades das prescrições médicas.</p>
    </div>
</section>
<section class="fourth">
    <div>
        <img src="/static/img/medicamentos2.png">
        <p>Gestão do estoque de medicamentos e higiene.</p>
    </div>
    <div>
        <img src="/static/img/registroA.png">
        <p>Registro de ocorrências anomalas.</p>
    </div>
</section>

    <a href=""><button class="cadastro">Quero Conhecer</button></a>

</body>

{% endblock %}