{% extends 'index.html' %}

{% block content %}
<div id="telainicial">
  <table class="table table-hover w-25 p-1">
      <thead>
        <tr>
          <th scope="col">Usuário:</th>
        </tr>
      </thead>
      <tbody >
        <tr>
          <td><button type="button" class="btn btn-outline-dark btn-sm mt-2 ml-2 border-0 " data-toggle="modal" data-target="#Modal1"   style="color:#000">Agenda</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-outline-dark btn-sm mt-2 ml-2 border-0 " data-toggle="modal" data-target="#Modal2"         style="color:#000">Ocorrência</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-outline-dark btn-sm mt-2 ml-2 border-0 " data-toggle="modal" 
            data-target="#Modal3" style="color:#000">Sinais Vitais</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-outline-dark btn-sm mt-2 ml-2 border-0 " data-toggle="modal" 
            data-target="#Modal4" style="color:#000">Estoque</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-outline-dark btn-sm mt-2 ml-2 border-0 " data-toggle="modal" 
            data-target="#Modal5" style="color:#000">Remédio</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-outline-dark btn-sm mt-2 ml-2 border-0 " data-toggle="modal" 
            data-target="#Modal6" style="color:#000">Comorbidades</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-outline-dark btn-sm mt-2 ml-2 border-0 " data-toggle="modal" 
            data-target="#Modal7" style="color:#000">Relatório</button></td>
        </tr>
      </tbody>
  </table>


  <div class="modal" tabindex="-1" role="dialog" id="Modal1">
    <div class="modal-fluid  " role="document" style=" padding: 9em 15%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agenda</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Periodo</th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Manhã</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">Tarde</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">Noite</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">Manhã</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">Tarde</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">Noite</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal col-sm-10" tabindex="-1" role="dialog" id="Modal2">
    <div class="modal-dialog modal-xl modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ocorrência</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Texto do corpo do modal, é aqui.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal col-sm-10" tabindex="-1" role="dialog" id="Modal3">
    <div class="modal-dialog modal-xl modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sinais Vitais</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Texto do corpo do modal, é aqui.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal col-sm-10" tabindex="-1" role="dialog" id="Modal4">
    <div class="modal-dialog modal-xl modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Estoque</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Texto do corpo do modal, é aqui.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal col-sm-10" tabindex="-1" role="dialog" id="Modal5">
    <div class="modal-dialog modal-xl modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Remédio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Texto do corpo do modal, é aqui.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Modal6" tabindex="-1" role="dialog" aria-labelledby="Comorbidades" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Comorbidades</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal col-sm-10" tabindex="-1" role="dialog" id="Modal7">
    <div class="modal-dialog modal-xl modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Relatório</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Texto do corpo do modal, é aqui.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
