{% extends 'base_telainicial.html' %}

{% block title %}Uso e consumo{% endblock %}

{% block content3 %}
<div class=" col-6 px-5">
    <div class=" align-middle table">
        <h1 class="row">Adicione Uso e consumo:</h1>
        <form action="" method="post">    
            {% csrf_token %}  
            <table>
                {{ form.as_table}}
            </table>        
            <input  class="btn btn-outline-secondary btn-sm mt-lg-5" type="submit" value="Salvar">
        </form>
    </div>   
</div>
{% endblock content3 %}