.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
  text-transform: capitalize;
}

.calendar tr, .calendar td {
  border: 1px solid black;
  
  resize:horizontal;
  overflow: auto;

}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color:#003f69;
}

.calendar td {
  width: 10rem;
  height: 5rem;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
  font-weight: 700;
  color:#003f69;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;

}

.clearfix a {
  color: #17a2b8;
}
.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  margin-top: .4em;
}

.clearfix {
  margin: 1em;
}

.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 25em;
  margin-top: 2%;
}


