:root{
    --cor-fundo:linear-gradient(90deg, rgba(116,189,203,0.4) 0%, rgba(123, 92, 55, 0.4) 100%, rgba(0,212,255,0.4) 100%);}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: var(--cor-fundo);
    transition: 0.3 ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content:space-between;

}
/* Inicio do header*/

.row img{
    width: 5.5em;
    height: 4.3em;
    border-radius: 8px;
}

/*Fim do header*/
/*Tela inicial*/

#imagemApresentacao{
    width: 33.5em;
    height: 22.5em;
}

/*Fim Tela inicial*/
.Caracteristicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Caracteristicas{
    position: fixed;
    width: 28.12em;
    height: 28.12em;
    padding: 2%;
    top:25%;
    font-family: Helvetica, sans-serif;
    background-color:#FFFFFF;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    transition: 0.3 ease-in-out;
    border-radius: 10px;
    border: grey solid 1px;
    margin-left: 33%;
    margin-right: 33%;
}
       
.Caracteristicas:target{
    opacity: 1;
    pointer-events: auto;
}

.fechar{
    position: absolute;
    width: 1em;
    right: 0.9em;
    top: 2%;
    text-align: center;
    line-height: 25px;
    background:#FFFFFF;
    color:#000;
    text-decoration: none; 
}
.fechar:hover{
    color: red;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario input{
    background:rgba(204, 204, 197, 0.826);
    font-weight: 700;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 350px;
    height: 40px;
    padding: 5px;
    margin: 2%;
}
.login2 button{
    background:rgba(204, 204, 197, 0.826);
    font-weight: 700;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    padding: 5px;
    margin: 2%;
    cursor: pointer;
}

.login2 button{   
    text-decoration: none;
    list-style-type: none;
    color: #000;
}
.login2 button:hover{
    color:rgba(14, 94, 200,1);
}

::placeholder{
    text-align:start;
}

div a{
    color:rgb(76, 75, 75); 
    cursor: pointer;
    text-decoration: none;
    margin-top: 2%;
    margin-left: 8px;
    font-weight: 900;
    font-size: 17px;
    background:#FFFFFF;
    border: none;
}

div a:hover{
    color: rgba(14, 94, 200,1);
}
div .criar_conta{
    margin: 3%;
    font-weight: 700;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;  
}

/*Termina janela input*/

.slogan{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 7rem;
}

.slogan p{
    margin-top: 3%;
    font-family:Verdana;
    font-size: 2em;
    font-weight: 500;
    color: rgb(14, 94, 200);
}

.entrar2{
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
    width: 29rem;
    height: 2.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background:var(--cor-fundo);
    color:rgb(14, 94, 200);
    text-decoration: none;  
}

.entrar2:hover{
    color: aliceblue;
}

.slogan button:hover{
    background-color: rgb(67, 107, 159);;
    border-radius: 1rem;
    box-shadow:0px 0px 4px 3px rgb(166, 162, 162) ;
}


#quem{
    color: rgb(77, 105, 81);
    font-size: 8em;
    text-align: center;
    /*margin-top: 10%;*/
}
/*Bloco do quemSomos*/

.media #quemSomos{
    width: 100%;
    color:rgb(76, 75, 75);
}

.media #quemSomos{
    width:50px;
    height:50px;
    border-radius: 4px;
    margin-left: 10%
}
#desenvolvedores{
    font-size: 4em;
    margin-top: 9%;
}
#fotos{
    margin-top: 9%;
    width: 250px;
    height: 330px;
    margin-top: 9%;
}
#linkfotos{
    color:grey;
    font-size: 2em;
}
/*Fim bloco do quemSomos*/

/*Rodapé=> Será igual sempre */

.card-footer{
    font-size: small;
    font-family: Times;
    bottom: 0;
    width: 100%;
    height: 15em;
    margin-top: 4%;
}
.card-footer a{
    color: black;
    font-size: 17px;
    font-weight: 600;
   
}
.card-footer p{
    color: darkgrey;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*Fim do rodapé*/

/*Inicio solucoes*/
.media{
    width: 100%;
    color:rgb(76, 75, 75);
    margin-top: 9em;
}

.media img{
    width:130px;
    height:130px;
    border-radius: 4px;
    margin-left: 18%
}

.btn-cad-geral{
    display: flex;
    flex-direction: column;
}

.btn-cad-geral{
    position: fixed;
    width: 31em;
    height: 31em;
    padding: 2%;
    top:25%;
    font-family: Helvetica, sans-serif;
    background-color:#ffffff;
    border-radius: 10px;
    margin-left: 33%;
    margin-right: 33%;
    align-items:center;
}
.input-btn input{
    top:10%;
    background:rgba(204, 204, 197, 0.826);
    font-weight: 700;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 24em;
    height: 2em;
    padding: 5%;
    margin: 2%;  
}

.adicione-Comorbidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.adicione-Comorbidades input{
    background: local;
    font-weight: 600;
    font-size: 13px;
    border-color: dark;

    width: 350px;
    height: 40px;
}

